a{
    list-style: none !important;
    text-decoration: none !important;
}
ul{
    list-style: none !important;
    text-decoration: none !important;
}
/* .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: white;
    top: 0;
} */
 body{
    background-color: #86546D;
 }
 :root {
            /* Inner shadow */
            --shadow-offset: 0;
            --shadow-blur: 20px;
            --shadow-spread: -5px;
            --shadow-color: rgba(255, 255, 255, 0.7);

            /* Painted glass */
            --tint-color: 255, 255, 255;
            --tint-opacity: 0.4;

            /* Background frost */
            --frost-blur: 2px;

            /* SVG noise/distortion */
            --noise-frequency: 0.008;
            --distortion-strength: 77;

            /* Outer shadow blur */
            --outer-shadow-blur: 24px;
        }
/* nav {
    background-color: rgba(255, 255, 255, 0.238);
    padding: 15px 20px;
    border-radius: 100px;
    background: #E6BCD1;
    border-radius: 70px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 0.1px solid rgb(254 254 254 / 18%);
    stroke: 0.1px solid white;
} */
 /* .nav::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        } */
         .nav::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 0;
            border-radius: 28px;
            box-shadow:
                inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
            background-color: rgba(var(--tint-color), var(--tint-opacity));
        }
nav ul a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin: 0;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    
}
/* hero-section */
#hero{
    background-image:url(../img/Rectangle\ 29.png);
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.hero-cnt{
    /* color: white; */
    height: 100vh;
    font-family: 'Merienda One';
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 14px;
    width: fit-content;
}
.hero-cnt h2 {
    color: #ffffff;
}
.hero-cnt h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Merienda One';
    /* color: #674550; */
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); */
    margin: 0;
    background: linear-gradient(99deg, #36111D, #A0073A );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 100px;
}
.hero-cnt h3{
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 1rem;
}
.resum-btn {
    background: linear-gradient(174deg, #36111D, #A0073A);
    padding: 5px 30px;
    border-radius: 60px 0px 60px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    /* justify-content: space-between; */
}
.resum-btn a{
    color: white;
}
.social-icons{
    background: linear-gradient(174deg, #36111D, #A0073A);
    padding: 15px 20px;
    border-radius: 100px;
    color: white;
}
/* about section */
.mt-60{
    margin-top: 123px;
}
.paragraph{
    padding: 10px 15px;
    color: white;
    opacity: 50%;
}
.about {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.abt-img{
    position: relative;
}
.about-cnt{
    border-radius: 24px;
    position: relative;
    padding: 25px 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(55.3px);
    /* transition: 0.3; */
}
.about-cnt {
    position: absolute;
    width: 1000px;
    height: 450px;
    border-radius: 28px;
    isolation: isolate;
    touch-action: none;
    box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
    margin-top: 145px;
    margin-left: 148px;
}

        .about-cnt::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 79%);
    background-color: rgb(255 255 255 / 24%);
}

        .about-cnt::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
        .about-cnt h1{
            display: flex;
            position: relative;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            color: rgba(0, 0, 0, 0.03);
            font-family:  'Metal Mania', cursive;
            top: 8px;
            font-size: 82px;

        }
        .about-cnt h2{
            font-family: "Merienda", cursive;
            font-size: 35px;
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;
            flex-direction: row;
            color: #FBF5F5;
            font-weight: 700;
            background: linear-gradient(99deg, #36111D, #A0073A );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* margin-bottom: 10px; */
    /* border: 1px solid; */
    top: -18px;
    position: relative;
    margin-top: -53px;
}
.abt-p p{
    display: flex;
    flex-direction: row;
    color: white;
    max-width: 89%;
    width: fit-content;
}
.abt-img {
    margin-top: -23px;
}
.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
    margin-top: 30px;
}
/* .about{
    display: flex;
    align-items: center;
    
} */
.cntct-btn {
    background: linear-gradient(174deg, #36111D, #A0073A);
    padding: 5px 30px;
    border-radius: 60px 0px 60px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    width: fit-content;
    /* justify-content: space-between; */
}
.cntct-btn a{
    color: white;
}




/* providing */
.service-cnt h1{
    font-family: "Merienda", cursive;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.content p{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 51%;
    justify-content: center;
    color: white;
}
.service-cnt {
    margin-top: 750px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
}
      .box-1 {
    position: absolute;
    width: 185px;
    height: 185px;
    border-radius: 28px;
    isolation: isolate;
    touch-action: none;
    box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
    margin-top: 95px;
    margin-left: 148px;
}

        .box-1::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 79%);
    background-color: rgb(255 255 255 / 24%);
}
.box-1::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
        .box-2 {
    position: absolute;
    width: 185px;
    height: 185px;
    border-radius: 28px;
    isolation: isolate;
    touch-action: none;
    box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
    margin-top: 95px;
    margin-left: 148px;
}

        .box-2::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 79%);
    background-color: rgb(255 255 255 / 24%);
}
.box-2::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
        .box-3 {
    position: absolute;
    width: 185px;
    height: 185px;
    border-radius: 28px;
    isolation: isolate;
    touch-action: none;
    box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
    margin-top: 95px;
    margin-left: 148px;
}

        .box-3::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 79%);
    background-color: rgb(255 255 255 / 24%);
}
.box-3::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
        .box-4 {
    position: absolute;
    width: 185px;
    height: 185px;
    border-radius: 28px;
    isolation: isolate;
    touch-action: none;
    box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
    margin-top: 95px;
    margin-left: 148px;
}

        .box-4::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 79%);
    background-color: rgb(255 255 255 / 24%);
}
.box-4::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
        .box-cnt {
    display: flex;
    column-gap: -1px;
    width: 1113px;
}
.box-1 img{
    position: relative;
}

        